<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :scor_team1 %><br />
    <%= f.number_field :scor_team1 %>
  </div>
  <div class="field">
    <%= f.label :scor_team2 %><br />
    <%= f.number_field :scor_team2 %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.text_field :duration %>
  </div>
  <div class="field">
    <%= f.label :team1_id %><br />
    <%= f.number_field :team1_id %>
  </div>
  <div class="field">
    <%= f.label :team2_id %><br />
    <%= f.number_field :team2_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
