<h1>Listing tournament_games</h1>

<table>
  <tr>
    <th>Tournament</th>
    <th>Game</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tournament_games.each do |tournament_game| %>
  <tr>
    <td><%= tournament_game.tournament_id %></td>
    <td><%= tournament_game.game_id %></td>
    <td><%= link_to 'Show', tournament_game %></td>
    <td><%= link_to 'Edit', edit_tournament_game_path(tournament_game) %></td>
    <td><%= link_to 'Destroy', tournament_game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tournament game', new_tournament_game_path %>
